<div class="container">
    <button (click)="this.startEditor()">Enter the editor</button>
    <button (click)="this.saveBoard()">Save the current board</button>
    <button (click)="this.closeEditor()" style="visibility: hidden;">Close the editor</button>


    <div id="editorTools" style="display:none;" class="container-fluid">
        <div id="otherList" cdkDropList [cdkDropListSortingDisabled]="true"   class="row " [cdkDropListData]="pieceCollection" (cdkDropListDropped)="this.drop($event)">
            <div *ngFor = "let piece of pieceCollection" class="col">
                <app-piece cdkDragPreview  matchSize="true"  id="freeMovingPiece_{{piece}}" [cdkDragDisabled]="getLimit(piece) <=0" (cdkDragReleased)="this.end(piece)" (cdkDragStarted)="this.start(piece)" style="display:inline-block;height: 75%;width: 100%;"  [piece]="piece" cdkDropData="piece"  cdkDrag></app-piece>
                <div id = "pieceLimit_{{piece}}">{{this.getLimit(piece)}}</div>
            </div>
        </div>
    </div>

    <div id="load" style="display: none;">
        <div *ngFor="let fen of fensSaved;let i = index;">
            <p id="fenId_{{i}}">{{fen}}</p>
            <button (click)="this.loadSavedFen(fen)">Load this board</button>
        </div>
    </div>

    <app-board #board>    
    </app-board>
</div>
