	/**
	* Board CSS 
	* 
	* Currently only controls rows.
	* 
	* TODO: Fix problem with size < 240 breaking board
	*/

		.bg-primary{
			background-color: #8B4513 !important;	 
		}
		.bg-secondary{
			background-color:  #E3DAC9 !important;	 
		}
		html, body{
		height: 100em;
		}
		@media screen and (min-width:1000px){
		.row{
		height: 130px;	 
		}
		}
		@media screen and (max-width: 1000px){
				.row{
					height: 100px;
				}
		}
		@media screen and (max-width: 780px){
				.row{
						height: 75px;
				}
		}
		@media screen and (max-width: 500px){
				.row{
						height: 70px;
				}
		}
		@media screen and (max-width: 450px){
				.row{
						height: 60px;
				}
		}
		.col{
		padding: 0px;
		text-align: center;
		border: 0px;
		width:100%;
		display: inline-block;
		}
		
		.bg-primary{
			background-color: #8B4513 !important;
			border-width: 1px;
			border-style: solid;
			border-color: #000 !important; 
		}
		.bg-secondary{
			background-color:  #E3DAC9 !important;
			border-width: 1px;
			border-style: solid;
			border-color: #000 !important; 
		}

		.col p{
			height: 100%;
			font-size: 80px!important;
		}
		.col{
			float: left;
			height: 100%;
		}

		.col.count {
			column-count: 2;
			column-span: all;
			column-fill: balance;
			column-width: 45%;
		}

		.col * {
			align-items:center;
			justify-content: center;
			vertical-align:center;
		}
		.fill{
			display: inline-block;
			height: 100%;
			width:100%;
		}

		.shown {
			display: block;
		}

		.hide {
			display: none;
		}
		
		.border {
			border-style: solid;
			border-width: 100px;
		}

