<!--
File: board.component.html
-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<div class="container">
<button (click)="this.rows[1].cells[1].setPiece(1)">
</button>
<div class="row" *ngFor="let row of rows">
<div class="col" *ngFor="let cell of row.cells">
<app-cell [piece]="cell.getPiece()" [init]=cell.getStyle() ></app-cell>
</div>
</div>
</div>
