// NOTE: This file is currently not used
// check cell.component.ts and board.component.css
	 .bg-primary{
		background-color: #8B4513 !important;	 
	 }
	 .bg-secondary{
		background-color:  #E3DAC9 !important;	 
	 }

	 .col p{
		 height: 100%;
		 font-size: 80px!important;

	 }
	 .col{
	 float: left;
	 height: 100%;
	 }
	
