<div class="container">
	<div *ngIf="this.closed == true">
	<button id = "enterEditorBtn" class="btn btn-secondary" (click)="this.startEditor()">Enter the editor</button>
	</div>
	<div id="editorTools" class="container-fluid" *ngIf="this.closed==false">
		<div id="otherList" cdkDropList [cdkDropListSortingDisabled]="true"
       	class="row " [cdkDropListData]="pieceCollection" 
       	(cdkDropListDropped)="this.drop($event)">
			<div *ngFor = "let piece of pieceCollection" class="col container">
				<div id = "pieceLimit_{{piece}}" class="special" > {{this.getLimit(piece)}}</div>
				<app-piece cdkDragPreview  matchSize="true"  id="freeMovingPiece_{{piece}}" 
						[cdkDragDisabled]="getLimit(piece) <=0" (cdkDragReleased)="this.end(piece)" 
						(cdkDragStarted)="this.start(piece)" 
						[piece]="piece" cdkDropData="piece"  cdkDrag></app-piece>
			</div>
		</div>
		<button class="btn btn-secondary" (click)="this.cancelEditor()">Cancel editor</button>
		<button class="btn btn-secondary" (click)="this.saveBoard()">Save the current board</button>
	</div>
	<div id ="load" *ngIf="this.closed == false">
		<table>
			<tbody>
				<tr *ngFor = "let fen of fenSaved; let i = index;">
					<td id="fenId_{{i}}">{{fen}}</td>
					<td><button class="btn btn-primary" (click)="this.loadSavedFen(fen)">Load this board</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<app-game #game>
	</app-game>
</div>
