<!--
    File: home.component.html
-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!--Insert reference to database-->

<!--Header above chess board-->
<h1>Gamer Chess</h1>

<!--User's stats (hidden if guest/new user?)-->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <!--Name will include first & last name and be referenced by the UUID of user-->
            <th scope="col">Name</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Name_Here</th>
            <th>3</th>
            <th>2</th>
        </tr>
    </tbody>
</table>