<div class="container mt-5">
  <h1>Create Account</h1>

  <div id = "personalInfo">
    <a>All fields required:</a>
    <br />

    <label for="emailAddress" id = "emailAddressErr" style="visibility:hidden;color: red;">Email Address is required</label>
    <br />

	  <label for="emailAddress" id = "emailAddressLbl">Email Address:</label>
    <input type= "text" id="emailAddress"/>

    <br />
    <label for="firstName" id = "firstNameErr" style="visibility:hidden;color: red;">First Name is required</label>
    <br />
	  <label for="firstName" id = "firstNameLbl">First Name:</label>
    <input type= "text" id="firstName" />
    
    <br />
    <label for="lastName" id = "lastNameErr" style="visibility:hidden;color: red;">Last Name is required</label>
    <br />
	  <label for="lastName" id = "lastNameLbl">Last Name:</label>
    <input type= "text" id="lastName" />
    <br />
    <img src ="#" id = "profilePic" style = "visibility: hidden"/>

    <button id = "createBtn" (click)="clickCreateAccount ()">Create Account</button>
  </div>
  <div class="row mt-5">
	<h3> Or:</h3>
	<button id = "loginBtn" class="loginBtn loginBtn--google" #loginRef>Login with Google</button>
  </div>
</div>