<div class="container mt-5">
  <h1>Create Account</h1>

  <div id = "personalInfo">
	  <label for="emailAddress" id = "emailAddressLbl">Email Address:</label>
    <input type= "text" id="emailAddress" value = "Enter Email Address"/>

    <br />
	  <label for="firstName" id = "firstNameLbl">First Name:</label>
    <input type= "text" id="firstName" value = "Enter First Name"/>
    
    <br />
	  <label for="lastName" id = "lastNameLbl">Last Name:</label>
    <input type= "text" id="lastName" value = "Enter Last Name"/>
    <br />
    <img src ="#" id = "profilePic" style = "visibility: hidden"/>
  </div>
  <div class="row mt-5">
	<h3> Or:</h3>
	<button id = "loginBtn" class="loginBtn loginBtn--google" #loginRef>Login with Google</button>    
  </div>
</div>